<div class="left-sidebar">
	<h2>Loại sản phẩm</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#electronic-device">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Thiết bị điện tử
					</a>
				</h4>
			</div>
			<div id="electronic-device" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#">Điện thoại di động</a></li>
						<li><a href="#">Máy tính bảng</a></li>
						<li><a href="#">Laptop</a></li>
						<li><a href="#">Máy tính để bàn</a></li>
						<li><a href="#">Âm thanh</a></li>
						<li><a href="#">Máy chơi game</a></li>
						<li><a href="#">Camera</a></li>
						<li><a href="#">Thiết bị số</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#electronic-accessories">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Phụ kiện điện tử
					</a>
				</h4>
			</div>
			<div id="electronic-accessories" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#">Phụ kiện di động</a></li>
						<li><a href="#">Phụ kiện máy tính</a></li>
						<li><a href="#">Thiết bị mạng</a></li>
						<li><a href="#">Linh kiện máy tính</a></li>
						<li><a href="#">Phụ kiện</a></li>
						<li><a href="#">Thiết bị đeo</a></li>
						<li><a href="#">Thiết bị lưu trữ</a></li>
						<li><a href="#">Phụ kiện máy chơi game</a></li>
						<li><a href="#">Máy in & Máy scan</a></li>
						<li><a href="#">Phụ kiến máy tính bảng</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#man">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Thời trang nam
					</a>
				</h4>
			</div>
			<div id="man" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<li><a href="#">Trang phục</a></li>
						<li><a href="#">Giày</a></li>
						<li><a href="#">Túi xách</a></li>
						<li><a href="#">Phụ kiện</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#woman">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							Thời trang nữ
						</a>
					</h4>
				</div>
				<div id="woman" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">Trang phục</a></li>
							<li><a href="#">Giày</a></li>
							<li><a href="#">Túi xách</a></li>
							<li><a href="#">Phụ kiện</a></li>
						</ul>
					</div>
				</div>
			</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="#">Đồ gia dụng</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="#">Nội thất</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="#">Phụ kiện thời trang</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="#">Thể thao và du lịch</a></h4>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a href="#">Ô tô và xe máy</a></h4>
			</div>
		</div>
	</div>
	<!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Thương hiệu hiệu</h2>
		<div class="brands-name">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#"> <span class="pull-right">(50)</span>Apple</a></li>
				<li><a href="#"> <span class="pull-right">(56)</span>Samsumg</a></li>
				<li><a href="#"> <span class="pull-right">(27)</span>Dell</a></li>
				<li><a href="#"> <span class="pull-right">(32)</span>Canon</a></li>
				<li><a href="#"> <span class="pull-right">(5)</span>Lenovo</a></li>
				<li><a href="#"> <span class="pull-right">(9)</span>HP</a></li>
				<li><a href="#"> <span class="pull-right">(4)</span>Nestlé</a></li>
			</ul>
		</div>
	</div>
	<!--/brands_products-->
	<div class="price-range">
		<!--price-range-->
		<h2>Giới hạn giá tiền</h2>
		<div class="well text-center">
			<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5"
				data-slider-value="[250,450]" id="sl2"><br />
			<b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
		</div>
	</div>
	<!--/price-range-->

	<div class="shipping text-center">
		<!--shipping-->
		<img src="images/home/shipping.jpg" alt="" />
	</div>
	<!--/shipping-->

</div>