<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">Có thể bạn cũng thích</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/sotay.jpg" alt="" />
                                <h2>49.000 ₫</h2>
                                <p>Sổ Tay Doctor Who</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/balo.jpg" alt="" />
                                <h2>177.828 ₫</h2>
                                <p>Ba Lô Đeo Vai Dr. Doctor Who</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/logoCyberman.jpg" alt="" />
                                <h2>240.000 ₫</h2>
                                <p>Lego UNIK BRICK Cyberman - Doctor Who</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/logoDalek.jpg" alt="" />
                                <h2>100.000 ₫</h2>
                                <p>Lego UNIK BRICK 71238 Dalek - Doctor Who</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/cocNuoc.jpg" alt="" />
                                <h2>104.612 ₫</h2>
                                <p>Stylish 16 Oz Doctor Who Tardis Travel Mug Coffee Cup Stainless Steel Liner Lid Mugs
                                    Christmas Gift</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="images/home/momy.jpg" alt="" />
                                <h2>36.000 ₫</h2>
                                <p>Dây Chuyền Mặt Nạ</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm
                                    vào
                                    giỏ hàng</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!--/recommended_items-->