<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Lịch sử giao dịch | E-Shopping</title>
    <% include partials/head %>
</head>
<!--/head-->

<body>
    <% include partials/header %>
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Lịch sử giao dịch</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="description">Tên sản phẩm</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Thành tiền</td>
                            <td class="date">Ngày đặt hàng</td>
                            <td class="status">Trạng thái</td>
                            <td class="status"></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart_description">
                                <h4><a href="">Máy Ảnh Canon 750D</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="cart_quantity">
                                <h4>1</h4>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">11.590.000 ₫</p>
                            </td>
                            <td class="order_date">
                                <p>24/04/2019</p>
                            </td>
                            <td class="item_stt">
                                <h5>Đang chờ xác nhận</h5>
                            </td>
                            <td>
                                <button class="btn">Xem chi tiết</button>
                            </td>
                        </tr>

                        <tr>
                            <td class="cart_description">
                                <h4><a href="">Sữa Bột Enfagrow A+ 4 (1.8kg)</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="cart_quantity">
                                <h4>1</h4>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">717.000 ₫</p>
                            </td>
                            <td class="order_date">
                                <p>20/04/2019</p>
                            </td>
                            <td class="item_stt">
                                <h5>Đang giao hàng</h5>
                            </td>
                            <td>
                                <button class="btn">Xem chi tiết</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="cart_description">
                                <h4><a href="">Tai Nghe Wutsun JS200 Stereo Earphone Sport</a></h4>
                                <p>Web ID: 1089772</p>
                            </td>
                            <td class="cart_quantity">
                                <h4>1</h4>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">133.000 ₫</p>
                            </td>
                            <td class="order_date">
                                <p>01/04/2019</p>
                            </td>
                            <td class="item_stt">
                                <h5>Đã thanh toán</h5>
                            </td>
                            <td>
                                <button class="btn">Xem chi tiết</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <% include partials/footer %>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/jquery.prettyPhoto.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/client.js"></script>
</body>

</html>