<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shop | E-Shopper</title>
	<% include partials/head %>
</head>
<!--/head-->

<body>
	<% include partials/header %>
	<section id="advertisement">
		<div class="container">
			<img src="/images/shop/advertisement.jpg" alt="" />
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<% include partials/left-list %>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<!--features_items-->
						<h2 class="title text-center">Kết quả lọc</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/canon.jpg" alt="" />
										<h2>11.590.000 ₫</h2>
										<p>Máy Ảnh Canon 750D</p>
										<a href="/product-details" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/product-details/r1.jpg" alt="" />
										<h2>5.900.000 ₫</h2>
										<p>Canon M10 KIT 15-45mm</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/product-details/r2.jpeg" alt="" />
										<h2>11.990.000 ₫</h2>
										<p>Máy Ảnh Sony Alpha A6000 + 16-50mm</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/product-details/r3.jpg" alt="" />
										<h2>2.500.000 ₫</h2>
										<p>Lens Canon 50mm f/1.8 STM</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
									<img src="/images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/product-details/r4.jpg" alt="" />
										<h2>9.990.000 ₫</h2>
										<p>Máy Ảnh Sony Alpha A6000</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
									<img src="/images/home/sale.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/iphone7.jpg" alt="" />
										<h2>10.990.000 ₫</h2>
										<p>Điện Thoại iPhone 7 32GB VN/A</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/iphoneX.jpg" alt="" />
										<h2>20.490.000 ₫</h2>
										<p>Điện Thoại iPhone X 64GB</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/mouse_Newmen.jpg" alt="" />
										<h2>199.000 ₫</h2>
										<p>Chuột Không Dây Newmen F278</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/tainghe1.jpg" alt="" />
										<h2>133.000 ₫</h2>
										<p>Tai Nghe Wutsun JS200 Stereo Earphone Sport</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/tainghe2.jpg" alt="" />
										<h2>119.000 ₫</h2>
										<p>Tai nghe Honor Earphone Super Bass AM115</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/tainghe4.jpg" alt="" />
										<h2>299.000 ₫</h2>
										<p>Tai Nghe Y98</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="/images/home/tainghe3.jpg" alt="" />
										<h2>2.800.000 ₫</h2>
										<p>Tai Nghe Headphone Bluetooth Remax RB-500HB</p>
										<a href="#" class="btn btn-default add-to-cart"><i
												class="fa fa-shopping-cart"></i>Xem chi tiết</a>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào giỏ hàng</a>
										</li>
										<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào mục so sánh</a></li>
									</ul>
								</div>
							</div>
						</div>

						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div>
					<!--features_items-->
				</div>
			</div>
		</div>
	</section>

	<% include partials/footer %>

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/price-range.js"></script>
	<script src="/javascripts/jquery.scrollUp.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.prettyPhoto.js"></script>
	<script src="/javascripts/main.js"></script>
</body>

</html>